#page-local-talentreview-assignusers form .fitemtitle {
    display: none;
}

#page-local-talentreview-assignusers form .felement.fselect {
    margin-left: 0;
}

#page-local-talentreview-assignusers form  #fitem_id_users {
    width: 460px!important;;
    display: inline-block;
    margin-right: 15px;
}

#page-local-talentreview-assignusers form .ms-drop {
    margin-left: 5px;
}

#page-local-talentreview-form #fitem_id_to_user {
    display: inline-block;
    width: 460px;
}

#page-local-talentreview-form #fitem_id_to_user .fitemtitle {
    display: none;
}

#page-local-talentreview-form #fitem_id_to_user .felement.fselect {
    margin-left: 0px!important;
}


#page-local-talentreview-assignusers form select,
#page-local-talentreview-form #fitem_id_to_user select {
    width: 100%;
}

.select2-search__field {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.path-local-talentreview form fieldset:first-child {
    margin-top: 0px;
    padding-top: 0px;
}

.path-local-talentreview form .controls.controls-row {
    border: 1px solid grey;
    /*border: 1px solid black;*/

    margin-bottom: 15px;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    position: relative;
}

.path-local-talentreview form .controls.controls-row > span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;

    border-bottom: dashed black 1px;
    padding-bottom: 5px;
}

.path-local-talentreview form .controls.controls-row > span.help {
    font-size: 11px;
    display: inline;
    font-weight: normal;
    font-style: italic;

    position: absolute;
    right: 15px;
    top: 5px;

    border: none;
    padding-bottom: 0;
}

.path-local-talentreview form .controls.controls-row > span.description {
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 5px;

    border: none;
}

.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul {
    list-style: none;
    padding-left: 10px;
    margin-left: 0px;
}

.path-local-talentreview form .controls.controls-row.promotability-block label:before,
.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:before {
    padding-right: 20px;
    width: 10px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
}

.path-local-talentreview form .controls.controls-row.promotability-block label:before {
    background-size: 15px 15px;
}

.path-local-talentreview form .controls.controls-row.promotability-block label[for="id_promotability_hp1"]:before {
    content: '';
    background-image: url("assets/img/promo_hp_2.jpg");
}

.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:nth-child(1):before {
    content: '';
    background-image: url("assets/img/promo_hp_1.jpg");
}

.path-local-talentreview form .controls.controls-row.promotability-block label[for="id_promotability_hp2"]:before  {
    content: '';
    background-image: url("assets/img/promo_hp_1.jpg");
}

.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:nth-child(2):before {
    content: '';
    background-image: url("assets/img/promo_hp_2.jpg");
}

.path-local-talentreview form .controls.controls-row.promotability-block label[for="id_promotability_trusted"]:before,
.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:nth-child(3):before {
    content: '';
    background-image: url("assets/img/promo_trusted.jpg");
}

.path-local-talentreview form .controls.controls-row.promotability-block label[for="id_promotability_placement"]:before,
.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:nth-child(4):before {
    content: '';
    background-image: url("assets/img/promo_placement.jpg");
}

.path-local-talentreview form .controls.controls-row.promotability-block label[for="id_promotability_too_new"]:before,
.path-local-talentreview form .controls.controls-row > span.description > .promotability-ul > li:nth-child(5):before {
    content: '';
    background-image: url("assets/img/promo_new.jpg");
}

.path-local-talentreview form .controls.controls-row div.fstaticlabel,
.path-local-talentreview form .controls.controls-row label {
    font-weight: normal!important;
}

.path-local-talentreview form #fitem_id_fix_fieldset_form {
    display: none;
}

.path-local-talentreview #ui-widget-shadow,
.path-local-talentreview .ui-widget-shadow {
    opacity: 1!important;
}

.path-local-talentreview .my-form {
    margin-left: 5px;
}

#page-local-talentreview-index .controls form #fitem_id_to_user,
#page-local-talentreview-form_managment .controls form #fitem_id_search,
#page-local-talentreview-employees .controls form #fitem_id_search{
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#page-local-talentreview-index .controls form .fitemtitle,
#page-local-talentreview-form_managment .controls form .fitemtitle
#page-local-talentreview-employees .controls form .fitemtitle {
    display: none;
}

#page-local-talentreview-form_managment .controls form .felement.ftext {
    width: inherit!important;
}

#page-local-talentreview-index .controls form .felement.fselect {
    width: 150px!important;
}

#page-local-talentreview-index .controls form select {
    width: 150px!important;
}

#page-local-talentreview-form_managment .controls form .felement.ftext input[type="text"] {
    padding-left: 3px;
    padding-right: 3px;
}

#page-local-talentreview-index .controls .span6,
#page-local-talentreview-form_managment .controls .span8 {
    width: 260px!important;
}

#page-local-talentreview-index .controls form input[type="button"],
#page-local-talentreview-index .controls form input[type="submit"],
#page-local-talentreview-form_managment .controls form input[type="button"],
#page-local-talentreview-form_managment .controls form input[type="submit"] {
    float: right;
    line-height: 18px;
}

#page-local-talentreview-employees .mform .fitem#fitem_id_search,
#page-local-talentreview-form #id_position_date_month,
#page-local-talentreview-form #id_company_date_month {
    float: left;
}

#page-local-talentreview-employees .mform {
    display: inline-block;
    width: 280px;
}

#page-local-talentreview-employees .mform .fitem .felement {
    width: 160px!important;
    float: left;
}

#page-local-talentreview-employees .mform .fitem#fitem_id_search input,
#page-local-talentreview-employees .mform .fitem .felement select {
    width: 100%;
}

#page-local-talentreview-employees .mform input[name="submitbutton"],
#page-local-talentreview-employees .mform #id_submitbutton {
    float: right;
}

#page-local-talentreview-employees .mform .fitem#fitem_id_to_user {
    display: inline-block;
}

#page-local-talentreview-form_managment .mform .fitem#fitem_id_search .fitemtitle,
#page-local-talentreview-employees .mform .fitem#fitem_id_search .fitemtitle,
#page-local-talentreview-employees .mform .fitem#fitem_id_to_user .fitemtitle {
    display: none!important;
}

#page-local-talentreview-employees .mform#mform2 {
    float: right;
    width: 260px;
}

#page-local-talentreview-employees nav li:nth-child(2) {
    display: none;
}

#page-local-talentreview-employees .pull-left {
    float: left!important;
}

#page-local-talentreview-employees .pull-right {
    float: right!important;
}


#page-local-talentreview-form .vft_error {
    background-color: #f1a899;
    border: red;
}

#page-local-talentreview-form .vft_error_label {
    color: red;
}
#page-local-talentreview-form #fgroup_id_radio_group fieldset .felement {
    margin-top: -28px !important;
}
#page-local-talentreview-form #fgroup_id_radio_group .legend {
    font-weight: normal !important;
}
.mform.trw-search-form {
    margin-right: 7px;
    min-width: 412px !important;
}
.mform.trw-search-form.with-print {
    min-width: 461px !important;
}
.mform.trw-search-form #fitem_id_statusfilter {
    width: 164px;
    float: left;
    margin-right: 7px;
}
.mform.trw-search-form #fitem_id_statusfilter .fitemtitle {
    width: 50px !important;
}
.mform.trw-search-form #fitem_id_statusfilter .fselect {
    width: 110px !important;
}
.mform.trw-search-form #fitem_id_statusfilter .fselect select {
    width: 100%;
}
.mform.trw-search-form #fitem_id_search {
    float: left;
}
.mform.mform.trw-search-form #fitem_id_search .fitemtitle {
    display: none;
}
.mform.mform.trw-search-form #fitem_id_search .felement {
    width: 100%;
    float: right;
    margin-left: 0;
}
.mform.trw-search-form input[type="submit"] {
    float: left;
}
.mform.trw-search-form input[type="button"] {
    float: right;
}

